@helper HelperName(string name) {
    // your helper can contain code and/or markup, e.g.
    // var msg = "Hello " + name;
    // <p>@msg</p>
    // For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
}


@helper displayEnable(bool status)
{

    if (status)
    {
        @:啟用
    }
    else
    {
        @:停用
    }
}
